flow.json
[{"id":"e396cd55.c9966","type":"tab","label":"実験①","disabled":false,"info":""},{"id":"7198e606.6a8118","type":"tab","label":"実験②","disabled":false,"info":""},{"id":"d0bf95d7.d39128","type":"tab","label":"実験③","disabled":false,"info":""},{"id":"875d0aab.cdd5c8","type":"websocket-listener","z":"","path":"/ws/getUserTweets","wholemsg":"false"},{"id":"4472fc00.460034","type":"websocket-listener","z":"","path":"/ws/search_2","wholemsg":"false"},{"id":"7c8f0871.2c8fe8","type":"twitter-credentials","z":"","screen_name":"goen_jp"},{"id":"dad94b7f.84f628","type":"twitter-credentials","z":"","screen_name":""},{"id":"a833585b.7b3458","type":"twitter-credentials","z":"","screen_name":"kyohei_ogawa_"},{"id":"1775d7fd.234938","type":"websocket-listener","z":"","path":"/ws/local_serch_3","wholemsg":"true"},{"id":"5065af22.1afb","type":"Twitter-User-Timeline-config","z":"","name":""},{"id":"292c3c6e.5df474","type":"Twitter-User-Timeline-config","z":"","name":""},{"id":"3c310838.886838","type":"http in","z":"e396cd55.c9966","name":"/search","url":"/search","method":"post","upload":false,"swaggerDoc":"","x":110,"y":320,"wires":[["8b0f50f8.d25ad","a0e55cbd.90091"]]},{"id":"230ca9f7.bce2b6","type":"http in","z":"e396cd55.c9966","name":"メインページ","url":"/main","method":"get","upload":false,"swaggerDoc":"","x":110,"y":80,"wires":[["c85f8c33.da882"]]},{"id":"de899193.3bb3c","type":"comment","z":"e396cd55.c9966","name":"メインページ / Aboutページ","info":"","x":166.58328247070312,"y":31,"wires":[]},{"id":"1b46beb5.d45751","type":"http response","z":"e396cd55.c9966","name":"return response","statusCode":"","headers":{},"x":800,"y":80,"wires":[]},{"id":"7e76007a.8fb29","type":"template","z":"e396cd55.c9966","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ja\" class=\"mdl-js\">\n<head>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\" />\n    <title>ツイート感情分析</title>\n    <style type=\"text/css\"> {{{ payload.style }}}</style>\n    <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js\"></script>\n    <script src=\"//d3js.org/d3.v3.min.js\" charset=\"utf-8\"></script>\n    <script src=\"//storage.googleapis.com/code-snippets/rapidapi.min.js\"></script>\n    <script src=\"//code.getmdl.io/1.3.0/material.min.js\"></script>\n    <script type=\"text/javascript\">{{{ payload.script }}}</script>\n</head>\n<body onload=\"connect()\">\n\t<div class=\"mdl-layout mdl-js-layout mdl-layout--fixed-header\">\n\t\t<div class=\"bar mdl-color--blue-grey-900\">\n\t        <div class=\"bar-contents mdl-layout__header-row\">\n\t\t\t\t<button id=\"demo-menu-lower-left\"\n\t\t\t\t        class=\"mdl-button mdl-js-button mdl-button--icon\">\n\t\t\t\t  <i class=\"material-icons\">more_vert</i>\n\t\t\t\t</button>\n\t          <span class=\"mdl-layout-title title\">Twitter × 感情分析</span>\n\t        </div>\n      \t</div><!-- /header -->\n\n\t\t<ul class=\"mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect\"\n\t\t    for=\"demo-menu-lower-left\">\n\t\t  <li class=\"mdl-menu__item\"><a href=\"https://goen-visualize.mybluemix.net/main\">つぶやく</a></li>\n\t\t  <li class=\"mdl-menu__item mdl-menu__item--full-bleed-divider\"><a href=\"https://goen-visualize.mybluemix.net/about\">使い方</a></li>\n\t\t  <li class=\"mdl-menu__item\"><a href=\"https://goen-visualize.mybluemix.net/about\">アンケート</a></li>\n\t\t  \n\t\t</ul>\n      \t<main class=\"mdl-layout__content mdl-color--blue-grey-900\">\n\t\t\t<div class=\"mdl-grid\">\n\t\t\t    <div id=\"forms\" class=\"mdl-color--white mdl-shadow--2dp mdl-cell--12-col mdl-grid\">\n\t\t\t      \t<form action=\"#query\">\n\t\t\t\t\t  <div class=\"mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col\">\n\t\t\t\t\t    <textarea id=\"query\" class=\"mdl-textfield__input\" type=\"text\" rows= \"5\"></textarea>\n\t\t\t\t\t    <label class=\"mdl-textfield__label\">いまどうしてる？</label>\n\t\t\t\t\t  </div>\n\t\t\t\t\t</form>\n\t\t\t\t\t<div class=\"mdl-card__actions mdl-layout__header-row\">\n\t\t\t\t\t\t<div class=\"mdl-layout-spacer\"></div>\n\t\t\t\t\t\t<div>\n\t\t\t\t\t\t\t<button id=\"submit\" class=\"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--blue-500\">\n\t\t\t\t\t\t\t  今の気持ちをみてみる\n\t\t\t\t\t\t\t</button>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t    </div>\n\n\t\t\t\t\n\t\t\t\t<div id=\"no-data\" class=\"col-xs-12\" style=\"display: none;\">\n\t\t\t\t<p>結果がないです。。。</p>\n\t\t\t\t</div>\n\n\t\t\t\t\n\t\t\t    <div id=\"result\" class=\"mdl-color--white mdl-shadow--2dp mdl-cell--12-col mdl-grid\">\n\t\t\t    \t<div class=\"mdl-color--white section--center mdl-cell--12-col mdl-grid\">\n\t\t\t\t        <div id=\"chart-container\" class=\"mdl-color--white mdl-cell mdl-cell--3-col\"></div>\n\t\t\t\t        <div class=\"mdl-color--white mdl-cell mdl-cell--9-col\">\n\t\t\t\t            <div class=\"row\">\n\t\t\t\t                <div class=\"contents\" id=\"tweet\"><p>ツイート内容</p></div>\n\t\t\t            \t</div>\n\t\t\t            \t<div>\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t<div>\n\t\t\t\t\t\t\t\t\t<button id=\"rewrite\" class=\"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--blue-grey-500\">\n\t\t\t\t\t\t\t\t\t  書き直してみる\n\t\t\t\t\t\t\t\t\t</button>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t<div>\n\t\t\t\t\t\t\t\t\t<button id=\"submit\" class=\"tweettext mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--blue-500\">\n\t\t\t\t\t\t\t\t\t  つぶやく\n\t\t\t\t\t\t\t\t\t</button>\n\t\t\t\t\t\t\t\t</div>\n\t\n\t\t\t            \t</div>\n\t\t\t        \t</div>\n\t\t\t        </div>\n\t\t\t   \t</div>\n\t\t\t</div>\n\n\t\t<div class=\"mdl-spinner mdl-js-spinner is-active\" id=\"loading-box-1\"></div>\n\n\t\t<div id=\"result-2\" class=\"\">\n\t      <header id=\"result-2-content\" class=\"r\">\n\t        <!-- Tabs -->\n\t        <div class=\"\" id=\"result_keyword\">\n\t        </div>\n\t      </header>\n\t      <main class=\"\" id=\"result_timeline\">\n\t      </main>\n\t    </div>\n\t    <!--<div id=\"result-3\" class=\"\">\n\t\t\t<form action=\"#query2\" class=\"mdl-color--white mdl-shadow--2dp mdl-cell--3-col mdl-grid\">\n\t\t\t  <div class=\"mdl-textfield mdl-js-textfield mdl-textfield--floating-label\">\n\t\t\t  \t<textarea id=\"query2\" class=\"mdl-textfield__input\" type=\"text\" rows= \"1\"></textarea>\n\t\t\t    <label class=\"mdl-textfield__label\" for=\"sample3\">@アカウントID or キーワード</label>\n\t\t\t  </div>\n\t\t\t  <button id=\"submit2\" class=\"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--blue-500\">\n\t\t\t\t  タイムラインを取得\n\t\t\t\t</button>\n\t\t\t</form>\n\n\t      <header id=\"result-3-content\" class=\"r\">\n\t      </header>\n\t      <main class=\"\" id=\"result_timeline3\">\n\t      </main>\n\t    </div>-->\n\t  \t</main>\n\t  <!--<script src=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\" integrity=\"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa\" crossorigin=\"anonymous\"></script>-->\n\t  <script type=\"text/javascript\">{{{ payload.script2 }}}</script>\n\t  <!--<script type=\"text/javascript\">{{{ payload.script3 }}}</script>\n\t  <script type=\"text/javascript\">{{{ payload.script4 }}}</script>-->\n\t<link rel=\"stylesheet\" href=\"//fonts.googleapis.com/icon?family=Material+Icons\">\n    <link rel=\"stylesheet\" href=\"//code.getmdl.io/1.3.0/material.indigo-pink.min.css\">\n</body>\n</html>","x":650,"y":80,"wires":[["1b46beb5.d45751"]]},{"id":"59fe0012.11d01","type":"template","z":"e396cd55.c9966","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"plain","template":"body{height:100%;background: #EFEFEF;}\n\nul.keywords-text li{background-color: #fff;\n    width: 100%;\n    padding: 10px;\n    margin: 10px 0px;}\nsvg{\n    width:100%;\n}\nli{\n    list-style: none;\n    display: block;\n    float: left;\n    margin: 0 100px 0px 0;\n}\nform{\n  width: 100%;\n}\nbutton{\n  background: none;\n  border: none;\n}\n.retweet:hover,.retweet:active{\n    color: #4caf50;\n}\n.favorite:hover,.favorite:active{\n    color: #f9407f;\n}\n.bar{\n    box-sizing: border-box;\n    background: #3F51B5;\n    color: white;\n    width: 100%;\n    padding: 16px;\n}\n.bar-contents{\n  padding: 0!important;\n}\n.contents{\n    clear:both;\n}\n#chart-container{\n\n}\n#retry-button{\n    margin: 10% auto;\n    display: block;\n    background: #1DA1F2;\n}\n#retry-button a{\n    color: #fff;\n    text-decoration: none;\n}\n#submit,#submit2{\n    background: #1DA1F2;\n    vertical-align: bottom;\n    border-radius: 100px;\n    float: right;\n    margin-top: 10px;\n}\n#submit2{\n  margin: 0 auto;\n}\n#result, #result-2 {\n  width:100%;\n  display:none;\n}\n.title{\n  margin: 0 auto;\n  display: block;\n}\n.tweet-result{\n  font-size: 20px;\n  line-height: 2em;\n  margin: 20px 0;\n}\n.last-result{\n  margin: 30px 0 0;\n    color: #2196f3;\n}\n.twitter-card{\n  cursor: pointer;\n}\n.twitter-card:hover{\n  background: #e6ecf0!important;\n}\n.twitter-card a{\n    color: #000;\n    font-weight: bold;\n    text-decoration: none;\n    padding: 0 10px 0px 0px;\n}\n.twitter-card p{\n  color: #263238;\n    margin: 20px 0 20px 0;\n    font-size: 14px;\n    line-height: 20px;\n    font-weight: normal;\n}\n.emotion li{margin-right:50px;}\n.emotion-info th {\n  font-size: 1.8rem;\n}\n\n.emotion-info td {\n  font-size: 1.8rem;\n  padding: 0;\n}\n\n.row {\n  padding: 3%;\n}\n\n.chart {\n  padding: 0;\n}\n\n#color-list {\n  padding: 0;\n}\n\n.color {\n  width: 30px;\n  height: 30px;\n}\n\n.color-box {\n  padding: 0 0 0 5%;\n  margin-top: 10px;\n}\n.mdl-spinner{\n  margin: 0 auto;\n  display: block;\n}\n.mdl-layout__container{\n  position: relative!important;\n}\n.mdl-layout__tab-bar{\n  width: calc(100% - 110px)!important;\n}\n.mdl-layout__tab-bar-button {\nbackground: rgba(38, 50, 56, 0.8) !important;\n}\n.mdl-layout__tab-bar-container{\n  height: 120px!important;\n}\n.mdl-layout__tab-bar-button{\n  height: 120px!important;\n}\n.mdl-layout__tab-bar-button .material-icons{\n  line-height: 120px!important;\n}\n#loading-box-1,#loading-box-2{\n  display: none\n}\n\n.user-image{\n    width: 64px;\n    height: 64px;\n    border-radius: 32px;\n    margin: 8px 0;\n    background-position: bottom;\n    background-size: auto 100%;\n    margin: 0 auto;\n}\n\nli{\n    list-style:none;\n    \n}\n\n@media screen and (max-width: 780px) {\n  .shop-info {\n    margin: 0;\n  }\n  .shop-info th, .shop-info td {\n    font-size: 1rem;\n  }\n  .shop-info th {\n    padding-left: 0;\n  }\n  .shop-chart-box {\n    margin: 15px 0;\n  }\n  .btn {\n    margin: 10px;\n  }\n  .tone {\n    padding: 0 0 0 5px;\n  }\n}","x":530,"y":80,"wires":[["7e76007a.8fb29"]]},{"id":"c0928bcc.4a5408","type":"comment","z":"e396cd55.c9966","name":"response","info":"","x":100,"y":1340,"wires":[]},{"id":"c85f8c33.da882","type":"template","z":"e396cd55.c9966","name":"Javascript","field":"payload.script2","fieldType":"msg","format":"javascript","syntax":"plain","template":"\n(function(){\n    // submit時の処理\n    d3.select('#submit').on('click', function() {\n        var query = d3.select('#query').property(\"value\");\n\n        if (!query) {\n            alert('検索する値を入れてください');\n            return;\n        }\n        sendRequest(query);\n        //sendRequest2(query);\n    });\n\n    /*d3.select('.page-content > div').on('click', function() {\n        var query = d3.select('#query').property(\"value\");\n        sendRequest(query);\n        //sendRequest2(query);\n    });*/\n\n\n    function sendRequest(query) {\n        var search_url = '/search',\n            post_data = {\n                'query' : query\n            };\n\n        d3.select(\"#loading-box-1\")\n            .style({'display':'block','margin-top': '20vh'});\n        d3.select(\"#result\")\n            .style({'display':'block'});\n        d3.select(\"#forms\")\n            .style({'display':'none'});\n        if($(\"#result_keyword > a\").length > 0){\n          setTimeout(function() {\n                          componentHandler.upgradeDom('MaterialTabs');\n                          componentHandler.upgradeDom('MaterialLayout');\n                        }, 0);\n          $(\"#result-2\").unwrap();\n          $(\"#result-2\").remove();\n          $(\"main\").append('<div id=\"result-2\" class=\"\"><header id=\"result-2-content\" class=\"r\"><div class=\"\" id=\"result_keyword\"></div></header><main class=\"\" id=\"result_timeline\"></main></div>');\n        }\n        // ajaxで/searchにリクエストを送る\n        d3.json(search_url)\n            .header(\"Content-Type\", \"application/json\")\n            .post(JSON.stringify(post_data), \n              function(error, data) {\n                if (error !== null) {\n                    console.log('エラー');\n                }\n\n                console.log(data);\n                \n                $(\"#tweet\").empty();\n                $(\"#chart-container\").empty();\n                d3.select(\"#loading-box-1\")\n                    .style({'display':'block'});\n\n                d3.select('#tweet')\n                    .selectAll()\n                    .data(data)\n                    .enter()\n                    .append('div')\n                    .attr({\"class\":\"tweet-result\"})\n                    .html(function (dataRow) {\n                        return (data[0].text.replace(/[\"']+/g, '').replace(/\\r?\\n/g, '<br />'));\n                });\n                d3.select('#tweet')\n                    .selectAll()\n                    .data(data)\n                    .enter()\n                    .append('div')\n                    .attr({\"class\":\"last-result\",})\n                    .html(function (dataRow) {\n                      console.log(JSON.stringify(data[0].emotion).replace(/[\"']+/g, ''))\n                      console.log(data[0].emotion_result)\n                      console.log(JSON.stringify(data[0].emotion_result).replace(/[\"']+/g, ''))\n                      if(JSON.stringify(data[0].emotion).replace(/[\"']+/g, '') == \"ネガティブ\"　&& data[0].emotion_result >= 0.5 ){\n                        return ('今のあなたは、ネガティブな気持ちを発信しようとしています。このつぶやきで、誰かを傷つけてしまったり、あなた自身がさらに辛くなってしまったりするかもしれません。でも、あなたの正直な気持ちをさらけ出すのも大切です。');\n                      }\n                      if(JSON.stringify(data[0].emotion).replace(/[\"']+/g, '') == \"ネガティブ\"　&& data[0].emotion_result < 0.5 ){\n                        return ('今のあなたは、少しネガティブな気持ちを発信しようとしています。このつぶやきで、誰かを傷つけてしまったり、あなた自身がさらに辛くなってしまったりするかもしれません。でも、あなたの正直な気持ちをさらけ出すのも大切です。');\n                      }\n                      if(JSON.stringify(data[0].emotion).replace(/[\"']+/g, '') == \"ポジティブ\"　&& data[0].emotion_result >= 0.5 ){\n                        return ('今のあなたは、ポジティブな気持ちを発信しようとしています。いいですね！幸せな気分をシェアしましょう！');\n                      }\n                      if(JSON.stringify(data[0].emotion).replace(/[\"']+/g, '') == \"ポジティブ\"　&& data[0].emotion_result < 0.5 ){\n                        return ('今のあなたは、ポジティブな気持ちを発信しようとしています。いいですね！幸せな気分をみんなにシェアしましょう！');\n                      }\n                      if(JSON.stringify(data[0].emotion).replace(/[\"']+/g, '') == \"ニュートラル\"　&& data[0].emotion_result >= 0.5 ){\n                        return ('今のあなたは、感情の振れ幅が足りないようです。自分の気持ちを出してみませんか？');\n                      }\n                      if(JSON.stringify(data[0].emotion).replace(/[\"']+/g, '') == \"ニュートラル\"　&& data[0].emotion_result < 0.5 ){\n                        return ('今のあなたは、感情の振れ幅が少し足りないようです。自分の気持ちをあと少しだけ出してみませんか？');\n                      }\n                      if(JSON.stringify(data[0].emotion).replace(/[\"']+/g, '') == \"混合\"　&& data[0].emotion_result >= 0.5 ){\n                        return ('今のあなたは、かなりモヤモヤした気持ちかもしれません。ほかの人の意見も見てみましょう！');\n                      }\n                      if(JSON.stringify(data[0].emotion).replace(/[\"']+/g, '') == \"混合\"　&& data[0].emotion_result < 0.5 ){\n                        return ('今のあなたは、少しモヤモヤした気持ちかもしれません。ほかの人の意見も見てみましょう！');\n                      }\n                });\n                d3.select('#rewrite').on('click', function() {\n                    \n                    d3.select('#forms').attr({\"style\":\"display:block;\"})\n                });\n                d3.select(\"#chart-container\")\n                    .append('div')\n                    .attr({\"class\": \"pie-chart\",\n                            \"id\":\"progress\",\n                            \"data-percentage\":JSON.stringify(data[0].emotion_result).replace(/[\"']+/g, '') * 100,\n                            \"data-track-width\":\"50\",\n                            \"data-track-colour\":\"555555\",\n                            \"data-fill-colour\":function(d){return JSON.stringify(data[0].color).replace(/[\"']+/g, '')},\n                            \"data-text-colour\":function(d){return JSON.stringify(data[0].color).replace(/[\"']+/g, '')},\n                            \"data-stroke-colour\":\"FFFFFF\",\n                            \"data-stroke-spacing\":\"4\"});\n                var wrapper = document.getElementById('progress');\n                var start = 0;\n                var end = parseFloat(wrapper.dataset.percentage);\n                var colours = {\n                  fill: '#' + wrapper.dataset.fillColour,\n                  track: '#' + wrapper.dataset.trackColour,\n                  text: '#' + wrapper.dataset.textColour,\n                  stroke: '#' + wrapper.dataset.strokeColour,\n                }\n                var radius = 100;\n                var border = wrapper.dataset.trackWidth;\n                var strokeSpacing = wrapper.dataset.strokeSpacing;\n                var endAngle = Math.PI * 2;\n                var formatText = d3.format('.0%');\n                var boxSize = radius * 2;\n                var count = end;\n                var progress = start;\n                var step = end < start ? -0.01 : 0.01;\n\n                //Define the circle\n                var circle = d3.svg.arc()\n                  .startAngle(0)\n                  .innerRadius(radius)\n                  .outerRadius(radius - border);\n\n                //setup SVG wrapper\n                var svg = d3.select(wrapper)\n                  .append('svg')\n                  .attr('width', boxSize)\n                  .attr('height', boxSize);\n\n                // ADD Group container\n                var g = svg.append('g')\n                  .attr('transform', 'translate(' + boxSize / 2 + ',' + boxSize / 2 + ')');\n\n                //Setup track\n                var track = g.append('g').attr('class', 'radial-progress');\n                track.append('path')\n                  .attr('class', 'radial-progress__background')\n                  .attr('fill', colours.track)\n                  .attr('stroke', colours.stroke)\n                  .attr('stroke-width', strokeSpacing + 'px')\n                  .attr('d', circle.endAngle(endAngle));\n\n                //Add colour fill\n                var value = track.append('path')\n                  .attr('class', 'radial-progress__value')\n                  .attr('fill', colours.fill)\n                  .attr('stroke', colours.stroke)\n                  .attr('stroke-width', strokeSpacing + 'px');\n\n                //Add text value\n                var numberText = track.append('text')\n                  .attr('class', 'radial-progress__text')\n                  .attr('fill', colours.text)\n                  .attr('text-anchor', 'middle')\n                  .attr('dy', '-10px');\n\n                var emltionText = track.append('text')\n                  .attr('class', 'radial-progress__text')\n                  .attr('fill', colours.text)\n                  .attr('text-anchor', 'middle')\n                  .attr('dy', '20px');\n\n                function update(progress) {\n                  //update position of endAngle\n                  value.attr('d', circle.endAngle(endAngle * progress));\n                  //update text value\n                  numberText.text(formatText(progress));\n                  emltionText.text(JSON.stringify(data[0].emotion).replace(/[\"']+/g, ''));\n                } \n\n                (function iterate() {\n                  //call update to begin animation\n                  update(progress);\n                  if (count > 0) {\n                    //reduce count till it reaches 0\n                    count--;\n                    //increase progress\n                    progress += step;\n                    //Control the speed of the fill\n                    setTimeout(iterate, 10);\n                  }\n                })();\n                // 初期化\n                /*render();\n                update();\n                animate();\n                win.on(\"resize\", update); // ウィンドウのリサイズイベントにハンドラを設定*/\n            });   \n    };\n\n})();\n","x":260,"y":80,"wires":[["3899f59d.8e63ba"]]},{"id":"8b0f50f8.d25ad","type":"function","z":"e396cd55.c9966","name":"初期設定","func":"msg.q = decodeURIComponent(msg.payload.query);\n//msg.payload = msg.q;\nvar i = 0;\nvar evaluations = [];\nflow.set('i', i);\nflow.set('type', 'continue');\ncontext.global.set('evaluations', evaluations);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":300,"wires":[["cdf3bfbc.4fcf3"]]},{"id":"5aea2ccd.dd4ef4","type":"function","z":"e396cd55.c9966","name":"HTTP headers","func":"msg.headers = {\n   'Authorization' : 'Basic REFDY3BoNG9DN2JKYXZQeUgxYm1RenU5VjpsOGNWZW5xUElCcFZaZWZzdzVFTThXV0NIcnowZlpJR3UwZGwxUzFCNkxORWQxdFVaMA==',\n   'Content-Type' : 'application/x-www-form-urlencoded'\n};\n  \nmsg.payload = 'grant_type=client_credentials';\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1800,"wires":[["14f6b9e1.4eb6c6"]]},{"id":"14f6b9e1.4eb6c6","type":"http request","z":"e396cd55.c9966","name":"Request Bearer Token","method":"POST","ret":"obj","url":"https://api.twitter.com/oauth2/token","tls":"","x":613.2499694824219,"y":1800.2500610351562,"wires":[["43f6c1b1.537e1"]]},{"id":"3fd27d2.75d2282","type":"inject","z":"e396cd55.c9966","name":"Get Access Token","topic":"Get Access TOken","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":153.38888549804688,"y":1799.9111022949219,"wires":[["5aea2ccd.dd4ef4"]]},{"id":"43f6c1b1.537e1","type":"debug","z":"e396cd55.c9966","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":828.3888854980469,"y":1798.9111022949219,"wires":[]},{"id":"5ba37ded.4c9484","type":"comment","z":"e396cd55.c9966","name":"アクセストークン取得","info":"","x":139.99996948242188,"y":1750.9999694824219,"wires":[]},{"id":"532abd38.b4e424","type":"function","z":"e396cd55.c9966","name":"ペイロードにjsonデータ渡す","func":"msg.payload = JSON.stringify(global.get('evaluations'));\n//msg.payload = global.get('evaluations');\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1260,"wires":[["21a6b4db.e2137c"]]},{"id":"7169c30c.cb410c","type":"function","z":"e396cd55.c9966","name":"整理","func":"evaluations = global.get('evaluations');\nevaluation = {\n    \"keywords\": msg.entities,\n    \"timeline\": msg.keywords,\n};\nevaluations.push(evaluation);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1260,"wires":[["532abd38.b4e424"]]},{"id":"cdf3bfbc.4fcf3","type":"function","z":"e396cd55.c9966","name":"POSTするjson生成","func":"msg.payload = {\n    \"document\": {\n        \"type\": \"PLAIN_TEXT\",\n        \"content\": msg.q\n    },\n    \"encodingType\": \"UTF8\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["cba47d4e.c449f"]]},{"id":"3dce7ba3.7c26d4","type":"http request","z":"e396cd55.c9966","name":"感情分析APIリクエスト送信","method":"POST","ret":"obj","url":"","tls":"","x":420,"y":380,"wires":[["64683c06.5ddc94"]]},{"id":"cba47d4e.c449f","type":"change","z":"e396cd55.c9966","name":"Set url and headers","rules":[{"t":"set","p":"url","pt":"msg","to":"https://language.googleapis.com/v1/documents:analyzeSentiment?key=AIzaSyBIMEXmB_u5VetT4OL3Ni04XRcZjTrUUKU","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"Content-Type: application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":380,"wires":[["3dce7ba3.7c26d4"]]},{"id":"39677149.a5215e","type":"change","z":"e396cd55.c9966","name":"Set url and headers","rules":[{"t":"set","p":"url","pt":"msg","to":"https://language.googleapis.com/v1/documents:analyzeEntities?key=AIzaSyBIMEXmB_u5VetT4OL3Ni04XRcZjTrUUKU","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"Content-Type: application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":680,"wires":[["f8e139b9.540ce8"]]},{"id":"f8e139b9.540ce8","type":"http request","z":"e396cd55.c9966","name":"自然言語APIリクエスト送信","method":"POST","ret":"obj","url":"","tls":"","x":420,"y":680,"wires":[["3db6d269.404b9e"]]},{"id":"64683c06.5ddc94","type":"function","z":"e396cd55.c9966","name":"","func":"msg.sentiment = msg.payload.documentSentiment;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":380,"wires":[["67819a1f.cb0fe4"]]},{"id":"3db6d269.404b9e","type":"function","z":"e396cd55.c9966","name":"キーワード取得","func":"msg.entities = msg.payload.entities;\nmsg.payload = msg.entities;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":260,"y":760,"wires":[["fd5e1e3b.8538e"]]},{"id":"fd5e1e3b.8538e","type":"split","z":"e396cd55.c9966","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":760,"wires":[["5aba1bf6.a351c4"]]},{"id":"5aba1bf6.a351c4","type":"function","z":"e396cd55.c9966","name":"キーワード名のみ抽出","func":"msg.payload = msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":760,"wires":[["2ca88667.54345a"]]},{"id":"2ca88667.54345a","type":"join","z":"e396cd55.c9966","name":"spilit","mode":"auto","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"[92,110]","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":750,"y":760,"wires":[["86909693.b0d6a8"]]},{"id":"a0e55cbd.90091","type":"function","z":"e396cd55.c9966","name":"初期設定","func":"msg.q = decodeURIComponent(msg.payload.query);\n//msg.payload = msg.q;\nvar i = 0;\nvar evaluations = [];\nflow.set('i', i);\nflow.set('type', 'continue');\ncontext.global.set('evaluations', evaluations);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":620,"wires":[["41ed7911.d09f78"]]},{"id":"41ed7911.d09f78","type":"function","z":"e396cd55.c9966","name":"POSTするjson生成","func":"msg.payload = {\n    \"document\": {\n        \"type\": \"PLAIN_TEXT\",\n        \"content\": msg.q\n    },\n    \"encodingType\": \"UTF8\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":620,"wires":[["39677149.a5215e"]]},{"id":"1add7b15.44ce75","type":"comment","z":"e396cd55.c9966","name":"input（感情）","info":"","x":110,"y":200,"wires":[]},{"id":"639eff15.cee75","type":"comment","z":"e396cd55.c9966","name":"input（キーワード）","info":"","x":130,"y":620,"wires":[]},{"id":"ee64c331.64f64","type":"function","z":"e396cd55.c9966","name":"Twitterアクセストークン","func":"var access_token = 'AAAAAAAAAAAAAAAAAAAAAAXl3AAAAAAAIl%2FDzuLP4y0sBZFnSGhUTBUBgj4%3DooJhzWRX68gCfWRKlhPJHbbrCA6bOLEsl0MhhOHOsbQvj0AevJ'; \n \nmsg.headers = {\n 'Authorization' : 'Bearer ' + access_token,\n 'Content-Type' : 'application/x-www-form-urlencoded',\n};\n//msg.query = encodeURIComponent(msg.payload);\n//msg.query = msg.payload;\n//msg.count = 10;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1140,"wires":[["48ec598a.4d7c68"]]},{"id":"48ec598a.4d7c68","type":"http request","z":"e396cd55.c9966","name":"","method":"GET","ret":"obj","url":"https://api.twitter.com/1.1/search/tweets.json?q={{query}}&result_type=popular&count=30","tls":"","x":1130,"y":1140,"wires":[["3f5ac32f.e5561c"]]},{"id":"6deac21d.c2edec","type":"function","z":"e396cd55.c9966","name":"i++","func":"msg.i++;\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1020,"wires":[["89a8729d.293a7"]]},{"id":"c3422342.505e5","type":"template","z":"e396cd55.c9966","name":"i=0","field":"i","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","x":130,"y":1140,"wires":[["89a8729d.293a7"]]},{"id":"89a8729d.293a7","type":"switch","z":"e396cd55.c9966","name":"i<keywords.length","property":"i","propertyType":"msg","rules":[{"t":"lt","v":"keywords.length","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":1140,"wires":[["38054ea7.225152"],["7169c30c.cb410c"]]},{"id":"38054ea7.225152","type":"function","z":"e396cd55.c9966","name":"検索クエリにキーワードnを渡す","func":"//msg.result = msg.payload\nmsg.keyword = msg.keywords[msg.i] + ' -rt';\nmsg.query = encodeURIComponent(msg.keyword);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1140,"wires":[["ee64c331.64f64"]]},{"id":"3f5ac32f.e5561c","type":"function","z":"e396cd55.c9966","name":"整形","func":"//msg.result = msg.payload\nmsg.keywords[msg.i] = msg.payload.statuses ;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1140,"wires":[["80ce1269.7bd83","aadc41b3.876ac"]]},{"id":"aadc41b3.876ac","type":"delay","z":"e396cd55.c9966","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":1080,"wires":[["6deac21d.c2edec"]]},{"id":"2df8bea6.2dddc2","type":"function","z":"e396cd55.c9966","name":"ペイロードにjsonデータ渡す","func":"msg.payload = JSON.stringify(global.get('evaluations'));\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":460,"wires":[["73c8f7f3.ab8cb8"]]},{"id":"73c8f7f3.ab8cb8","type":"http response","z":"e396cd55.c9966","name":"return response","statusCode":"","headers":{},"x":1120,"y":460,"wires":[]},{"id":"66f45135.72858","type":"function","z":"e396cd55.c9966","name":"整理","func":"evaluations = global.get('evaluations');\n//msg.q2 = msg.payload;\nevaluation = {\n    \"text\": msg.q,\n    \"emotion\": msg.response.emotion,\n    \"emotion_result\": msg.response.negaposi,\n    \"color\": msg.response.color,\n};\nevaluations.push(evaluation);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":460,"wires":[["2df8bea6.2dddc2"]]},{"id":"67819a1f.cb0fe4","type":"switch","z":"e396cd55.c9966","name":"switch","property":"payload.documentSentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"-0.25","vt":"num"},{"t":"btwn","v":"-0.25","vt":"num","v2":"0.25","v2t":"num"},{"t":"gt","v":"0.25","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":150,"y":500,"wires":[["e5562ae9.6a9da8"],["85b16a62.dde258"],["4ab2d48c.a1cafc"]],"outputLabels":["negative","normal","positive"]},{"id":"4ab2d48c.a1cafc","type":"function","z":"e396cd55.c9966","name":"ポジティブ","func":"msg.response = {\n  \"negaposi\": msg.payload.documentSentiment.score,\n  \"emotion\": 'ポジティブ',\n  \"color\": '00C0FF'\n};\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":560,"wires":[["66f45135.72858"]]},{"id":"7b58d6eb.9a92d8","type":"function","z":"e396cd55.c9966","name":"ニュートラル","func":"msg.response = {\n  \"negaposi\": msg.payload.documentSentiment.score,\n  \"emotion\": 'ニュートラル',\n  \"color\": '333'};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":480,"wires":[["66f45135.72858"]]},{"id":"e5562ae9.6a9da8","type":"function","z":"e396cd55.c9966","name":"ネガティブ","func":"msg.response = {\n  \"negaposi\": 0 - msg.payload.documentSentiment.score,\n  \"emotion\": 'ネガティブ',\n  \"color\": 'f21e6f'\n};\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":440,"wires":[["66f45135.72858"]]},{"id":"85b16a62.dde258","type":"switch","z":"e396cd55.c9966","name":"magnitude","property":"payload.documentSentiment.magnitude","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"num"},{"t":"lt","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":500,"wires":[["7b58d6eb.9a92d8"],["6a5c208a.2278"]],"outputLabels":["positive","normal"]},{"id":"6a5c208a.2278","type":"function","z":"e396cd55.c9966","name":"混合","func":"msg.response = {\n  \"negaposi\": msg.payload.documentSentiment.score,\n  \"emotion\": '混合',\n  \"color\": 'A100FF'};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":520,"wires":[["66f45135.72858"]]},{"id":"80ce1269.7bd83","type":"function","z":"e396cd55.c9966","name":"整理","func":"evaluations = global.get('evaluations');\nevaluation = {\n    \"keywords\": msg.entities,\n    \"timeline\": msg.keywords,\n};\nevaluations.push(evaluation);\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":1240,"wires":[["c1ddc9b6.d0e868"]]},{"id":"c1ddc9b6.d0e868","type":"function","z":"e396cd55.c9966","name":"ペイロードにjsonデータ渡す","func":"msg.payload = JSON.stringify(global.get('evaluations'));\n//msg.payload = global.get('evaluations');\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":1300,"wires":[["2fc6aac1.53c4f6"]]},{"id":"2fc6aac1.53c4f6","type":"debug","z":"e396cd55.c9966","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1490,"y":1360,"wires":[]},{"id":"3899f59d.8e63ba","type":"template","z":"e396cd55.c9966","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"    var socket;\n    var wsUrl = 'wss://' + location.hostname + '/ws/search_2';\n    function connect(){\n        //window.componentHandler.upgradeElement(this.root);\n        socket = new WebSocket(wsUrl);\n        socket.onmessage = function(e) {\n            //var obj = (new Function(\"return \" + e.data))();\n            var obj = JSON.parse(e.data);\n            var obj1 = obj[0]\n            var number = obj.length;\n            console.log( obj );\n            $(\"#loading-box-1\").css({'display':'none'});\n            $(\"#result-2\").attr({\"class\":\"mdl-layout mdl-js-layout mdl-tabs mdl-js-tabs\"});\n            $(\"#result-2-content\").attr({\"class\":\"mdl-layout__header mdl-color--blue-grey-900\"}).css({'display':'block','height':'130px'});\n            $(\"#result_keyword\").css({'height':'120px'});\n            $(\"#result_timeline\").css({'display':'block'});\n            $(\"#loading-box-2\").css({'display':'block'});\n            setTimeout(function() {\n                          componentHandler.upgradeDom('MaterialTabs');\n                          componentHandler.upgradeDom('MaterialLayout');\n                        }, 0);\n\n            $(function (e){\n              //console.log(obj1)\n                if(!$(\".tweet-result\")[0]){\n                    console.log(\"exist!\");\n                    $(\"#tweet\").empty();\n                    $(\"#chart-container\").empty();\n                    $(\"#loading-box-1\").css({'display':'none'});\n                    $('#tweet')\n                    .append('div')\n                    .attr({\"class\":\"tweet-result\"})\n                    .html(function (e) {\n                        return (obj[0].text.replace(/[\"']+/g, '').replace(/\\r?\\n/g, '<br />'));\n                    });\n                    //$('.tweet-result:last').remove();\n                    $('#tweet')\n                    .append('div')\n                    .attr({\"class\":\"last-result\"})\n                    .html(function (dataRow) {\n                      console.log(JSON.stringify(obj[0].emotion).replace(/[\"']+/g, ''))\n                      console.log(obj[0].emotion_result)\n                      console.log(JSON.stringify(obj[0].emotion_result).replace(/[\"']+/g, ''))\n                      if(JSON.stringify(obj[0].emotion).replace(/[\"']+/g, '') == \"ネガティブ\"　&& obj[0].emotion_result >= 0.5 ){\n                        return ('今のあなたは、ネガティブな気持ちを発信しようとしています。このつぶやきで、誰かを傷つけてしまったり、あなた自身がさらに辛くなってしまったりするかもしれません。でも、あなたの正直な気持ちをさらけ出すのも大切です。');\n                      }\n                      if(JSON.stringify(obj[0].emotion).replace(/[\"']+/g, '') == \"ネガティブ\"　&& obj[0].emotion_result < 0.5 ){\n                        return ('今のあなたは、少しネガティブな気持ちを発信しようとしています。このつぶやきで、誰かを傷つけてしまったり、あなた自身がさらに辛くなってしまったりするかもしれません。でも、あなたの正直な気持ちをさらけ出すのも大切です。');\n                      }\n                      if(JSON.stringify(obj[0].emotion).replace(/[\"']+/g, '') == \"ポジティブ\"　&& obj[0].emotion_result >= 0.5 ){\n                        return ('今のあなたは、ポジティブな気持ちを発信しようとしています。いいですね！幸せな気分をシェアしましょう！');\n                      }\n                      if(JSON.stringify(obj[0].emotion).replace(/[\"']+/g, '') == \"ポジティブ\"　&& obj[0].emotion_result < 0.5 ){\n                        return ('今のあなたは、ポジティブな気持ちを発信しようとしています。いいですね！幸せな気分をみんなにシェアしましょう！');\n                      }\n                      if(JSON.stringify(obj[0].emotion).replace(/[\"']+/g, '') == \"ニュートラル\"　&& obj[0].emotion_result >= 0.5 ){\n                        return ('今のあなたは、感情の振れ幅が足りないようです。自分の気持ちを出してみませんか？');\n                      }\n                      if(JSON.stringify(obj[0].emotion).replace(/[\"']+/g, '') == \"ニュートラル\"　&& obj[0].emotion_result < 0.5 ){\n                        return ('今のあなたは、感情の振れ幅が少し足りないようです。自分の気持ちをあと少しだけ出してみませんか？');\n                      }\n                      if(JSON.stringify(obj[0].emotion).replace(/[\"']+/g, '') == \"混合\"　&& obj[0].emotion_result >= 0.5 ){\n                        return ('今のあなたは、かなりモヤモヤした気持ちかもしれません。ほかの人の意見も見てみましょう！');\n                      }\n                      if(JSON.stringify(obj[0].emotion).replace(/[\"']+/g, '') == \"混合\"　&& obj[0].emotion_result < 0.5 ){\n                        return ('今のあなたは、少しモヤモヤした気持ちかもしれません。ほかの人の意見も見てみましょう！');\n                      }\n                    });\n                    //d3.select('.last-result').remove();\n                    d3.select('#rewrite').on('click', function() {\n                      d3.select('#forms').attr({\"style\":\"display:block;\"})\n                    });\n                    d3.select(\"#chart-container\")\n                    .append('div')\n                    .attr({\"class\": \"pie-chart\",\n                            \"id\":\"progress\",\n                            \"data-percentage\":JSON.stringify(obj[0].emotion_result).replace(/[\"']+/g, '') * 100,\n                            \"data-track-width\":\"50\",\n                            \"data-track-colour\":\"555555\",\n                            \"data-fill-colour\":function(e){return JSON.stringify(obj[0].color).replace(/[\"']+/g, '')},\n                            \"data-text-colour\":function(e){return JSON.stringify(obj[0].color).replace(/[\"']+/g, '')},\n                            \"data-stroke-colour\":\"FFFFFF\",\n                            \"data-stroke-spacing\":\"4\"});\n                    var wrapper = document.getElementById('progress');\n                    var start = 0;\n                    var end = parseFloat(wrapper.dataset.percentage);\n                    var colours = {\n                      fill: '#' + wrapper.dataset.fillColour,\n                      track: '#' + wrapper.dataset.trackColour,\n                      text: '#' + wrapper.dataset.textColour,\n                      stroke: '#' + wrapper.dataset.strokeColour,\n                    }\n                    var radius = 100;\n                    var border = wrapper.dataset.trackWidth;\n                    var strokeSpacing = wrapper.dataset.strokeSpacing;\n                    var endAngle = Math.PI * 2;\n                    var formatText = d3.format('.0%');\n                    var boxSize = radius * 2;\n                    var count = end;\n                    var progress = start;\n                    var step = end < start ? -0.01 : 0.01;\n\n                    //Define the circle\n                    var circle = d3.svg.arc()\n                      .startAngle(0)\n                      .innerRadius(radius)\n                      .outerRadius(radius - border);\n\n                    //setup SVG wrapper\n                    var svg = d3.select(wrapper)\n                      .append('svg')\n                      .attr('width', boxSize)\n                      .attr('height', boxSize);\n\n                    // ADD Group container\n                    var g = svg.append('g')\n                      .attr('transform', 'translate(' + boxSize / 2 + ',' + boxSize / 2 + ')');\n\n                    //Setup track\n                    var track = g.append('g').attr('class', 'radial-progress');\n                    track.append('path')\n                      .attr('class', 'radial-progress__background')\n                      .attr('fill', colours.track)\n                      .attr('stroke', colours.stroke)\n                      .attr('stroke-width', strokeSpacing + 'px')\n                      .attr('d', circle.endAngle(endAngle));\n\n                    //Add colour fill\n                    var value = track.append('path')\n                      .attr('class', 'radial-progress__value')\n                      .attr('fill', colours.fill)\n                      .attr('stroke', colours.stroke)\n                      .attr('stroke-width', strokeSpacing + 'px');\n\n                    //Add text value\n                    var numberText = track.append('text')\n                      .attr('class', 'radial-progress__text')\n                      .attr('fill', colours.text)\n                      .attr('text-anchor', 'middle')\n                      .attr('dy', '-0.5rem');\n\n                    var emltionText = track.append('text')\n                      .attr('class', 'radial-progress__text')\n                      .attr('fill', colours.text)\n                      .attr('text-anchor', 'middle')\n                      .attr('dy', '1rem');\n\n                    function update(progress) {\n                      //update position of endAngle\n                      value.attr('d', circle.endAngle(endAngle * progress));\n                      //update text value\n                      numberText.text(formatText(progress));\n                      emltionText.text(JSON.stringify(obj[0].emotion).replace(/[\"']+/g, ''));\n                    } \n\n                    (function iterate() {\n                      //call update to begin animation\n                      update(progress);\n                      if (count > 0) {\n                        //reduce count till it reaches 0\n                        count--;\n                        //increase progress\n                        progress += step;\n                        //Control the speed of the fill\n                        setTimeout(iterate, 10);\n                      }\n                    })();\n                    //win.on(\"resize\", update); // ウィンドウのリサイズイベントにハンドラを設定*/\n                }\n            });\n            $(\"#loading-box-1\").css({'display':'none'});       \n            $(function(e){\n                    var i ;\n                    for (i=0; i < obj[number-1].keywords.length; i++ ){\n                        $('#result_keyword').attr({\"class\":\"mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--blue-grey-900\"}).append('<a></a>')\n                        $('#result_keyword>a:last').css({'height':'100%'})\n                            .attr({\"href\":function(e){ return \"#scroll-tab-\" + (i+1)},\n                                   \"class\":\"mdl-layout__tab\"})\n                            .append('<div class=\"section__circle-container__circle mdl-color--primary user-image\" style=\"background-image : url(' + obj[number-1].keywords[i].type + ')\"></div>')\n                            .append('<div>'+ JSON.stringify(obj[number-1].keywords[i].name).replace(/[\"']+/g, '') +'</div>')\n                        setTimeout(function() {\n                          componentHandler.upgradeDom('MaterialTabs');\n                          componentHandler.upgradeDom('MaterialLayout');\n                        }, 0);\n                        $('#result_timeline').attr({\"class\":\"mdl-layout__content\"}).append('<section></section>')\n                        $('#result_timeline>section:last')\n                            .attr({\"id\":function(e){ return \"scroll-tab-\" + (i+1) },\n                               \"class\":\"mdl-layout__tab-panel mdl-card__supporting-text mdl-grid\"})\n                            .append('<div class=\"page-content\"></div>');\n                        setTimeout(function() {\n                          componentHandler.upgradeDom('MaterialTabs');\n                          componentHandler.upgradeDom('MaterialLayout');\n                        }, 0);\n                    }\n                $(\"#result_keyword>a:first\")\n                .addClass( \"is-active\");\n                $(\"#scroll-tab-1\")\n                .addClass( \"is-active\");\n                $(\"#loading-box-2\").css({'display':'none'});\n            });\n            $(function(e){\n                var j ;\n                var k ;\n                for (j=0; j < obj[number-1].timeline.length; j++ ){\n                    for(k=0; k < obj[number-1].timeline[j].length; k++ ){\n                        /*if(obj[number-1].timeline[j].length = 0){\n                        $(\"section:nth-child(\" + (j+1) +\")>div:last\").append('<div class=\"mdl-card__supporting-text mdl-grid mdl-cell mdl-shadow--2dp mdl-color--white mdl-cell--12-col twitter-card\"></div>')\n                        $(\"section:nth-child(\" + (j+1) +\")>div>div:last\")\n                            .append('<div>関連ツイートは見つかりませんでした・・・</div>')\n                      }*/\n                      $(\"section:nth-child(\" + (j+1) +\")>div:last\").append('<div class=\"mdl-card__supporting-text mdl-grid mdl-cell mdl-shadow--2dp mdl-color--white mdl-cell--12-col twitter-card\"></div>')\n                      $(\"section:nth-child(\" + (j+1) +\")>div>div:last\")\n                            .append('<div class=\"section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone\"><div class=\"section__circle-container__circle mdl-color--primary user-image\" style=\"background-image : url(' + obj[number-1].timeline[j][k].user.profile_image_url_https + ')\"></div></div>')\n                            .append('<div class=\"section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone\">' \n                              + '<a href=\"https://twitter.com/' \n                              + JSON.stringify(obj[number-1].timeline[j][k].user.screen_name).replace(/[\"']+/g, '')+ '\" target=\"_blank\">'\n                              + JSON.stringify(obj[number-1].timeline[j][k].user.name).replace(/[\"']+/g, '') +'</a>' +'<span>@'\n                              + JSON.stringify(obj[number-1].timeline[j][k].user.screen_name).replace(/[\"']+/g, '')+'</span><p>'\n                              + obj[number-1].timeline[j][k].text.replace(/\\r\\n/g, \"<br />\").replace(/(\\n|\\r)/g, \"<br />\").replace(/[\"']+/g, '')+'</p>'+'</div>')\n                      if(obj[number-1].timeline[j][k].extended_entities in obj[number-1].timeline[j][k] == true){\n                        $(\"section:nth-child(\" + (j+1) +\")>div>div>div:last\")\n                          .append('<img src=\"'+ JSON.stringify(obj[number-1].timeline[j][k].extended_entities.media[0].media_url_https).replace(/[\"']+/g, '') +'\">')\n                      }\n                      $(\"section:nth-child(\" + (j+1) +\")>div>div>div:last\")\n                        .append('<button class=\"retweet\" value=\"'+ obj[number-1].timeline[j][k].id_str +'\"><i class=\"material-icons\">repeat</i>'+ '<span>'+ JSON.stringify(obj[number-1].timeline[j][k].retweet_count)+'</span></button>' +'<button class=\"favorite\" value=\"'+ obj[number-1].timeline[j][k].id_str +'\"><i class=\"material-icons\">favorite_border</i>'+'<span>'+ JSON.stringify(obj[number-1].timeline[j][k].favorite_count) +'</span></button>')\n                    } \n                }          \n            });\n\n            console.count(socket.onmessage); \n            setTimeout(function() {\n                          componentHandler.upgradeDom('MaterialTabs');\n                          componentHandler.upgradeDom('MaterialLayout');\n                        }, 0);\n            $(function (e) {\n              $(\".page-content > div\").one(\"click\", function() {\n                var query = $(this).find(\"p\").html();\n                setTimeout(function(){socket.send(query);}, 1000);\n                $(\"#result-2\").unwrap();\n                $(\"#result-2\").remove();\n                $(\"main\").append('<div id=\"result-2\" class=\"\"><header id=\"result-2-content\" class=\"r\"><div class=\"\" id=\"result_keyword\"></div></header><main class=\"\" id=\"result_timeline\"></main></div>');\n                $(\"#tweet\").empty();\n                $(\"#chart-container\").empty();\n                $(\"#loading-box-1\").css({'display':'block'})\n              });\n              $(\".retweet\").click( function() {\n                var query2 = $(this).val();\n                console.log(query2);\n                $(this).css({'color':'#4caf50'});\n                var re_number = Number($(this).find('span').text())\n                $(this).find('span').text(re_number+1)\n                $.ajax({\n                    type: \"POST\",\n                    url: \"/callback\",\n                    data: {\n                        'query' : query2,\n                        'post' : 'retweet'\n                    }\n                    \n                });\n              });\n              $(\".favorite\").click( function() {\n                var query2 = $(this).val();\n                console.log(query2);\n                $(this).css({'color':'#f9407f'});\n                var fav_number = Number($(this).find('span').text())\n                $(this).find('span').text(fav_number+1)\n                $.ajax({\n                    type: \"POST\",\n                    url: \"/callback\",\n                    data: {\n                        'query' : query2,\n                        'post' : 'favorite'\n                    }\n  \n                });\n              });\n              $(\".tweettext\").click( function() {\n                var query3 = $(\".tweet-result\").html().replace(/(<br>|<br \\/>)/gi, '\\n');\n                console.log(query3);\n                $(\"#result-2\").css({'display':'block'})\n                $.ajax({\n                    type: \"POST\",\n                    url: \"/callback2\",\n                    data: {\n                        'query' : query3,\n                    }\n  \n                });\n              });\n\n            });\n        };\n        socket.onclose = function(){\n        //WebSocketが切断された時に呼ばれる関数\n            setTimeout(\"open()\",3000);\n        }\n        socket.onerror = function(){\n            //エラーが発生した時に飛ばれる関数\n            \n            socket = null;\n            //3秒後に再接続\n            setTimeout(\"open()\",3000);\n        }\n\n    }","x":400,"y":80,"wires":[["59fe0012.11d01"]]},{"id":"86909693.b0d6a8","type":"change","z":"e396cd55.c9966","name":"change","rules":[{"t":"move","p":"payload","pt":"msg","to":"keywords","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":760,"wires":[["a2c2eae7.c83e08"]]},{"id":"21a6b4db.e2137c","type":"websocket out","z":"e396cd55.c9966","name":"","server":"4472fc00.460034","client":"","x":1080,"y":1300,"wires":[]},{"id":"519b6c40.81e314","type":"switch","z":"e396cd55.c9966","name":"i<keywords.length","property":"i","propertyType":"msg","rules":[{"t":"lt","v":"keywords.length","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":940,"wires":[["bf8165f6.607d88"],["c3422342.505e5"]]},{"id":"89bb4e39.17aca","type":"function","z":"e396cd55.c9966","name":"i++","func":"msg.i++;\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":840,"wires":[["519b6c40.81e314"]]},{"id":"a2c2eae7.c83e08","type":"template","z":"e396cd55.c9966","name":"i=0","field":"i","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","x":230,"y":940,"wires":[["519b6c40.81e314"]]},{"id":"d0981f8.1f075e","type":"http request","z":"e396cd55.c9966","name":"画像検索APIリクエスト送信","method":"GET","ret":"obj","url":"https://www.googleapis.com/customsearch/v1?key=AIzaSyB23FWcdQ1OIf4_PWywsFBFKHExPtf_S7M&cx=012095542106686620443:-s42kq10jss&q={{query}}&num=1&searchType=image&alt=json","tls":"","x":1040,"y":940,"wires":[["4c789614.0a3618"]]},{"id":"bf8165f6.607d88","type":"function","z":"e396cd55.c9966","name":"POSTするjson生成","func":"msg.query = encodeURIComponent(msg.entities[msg.i].name);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":940,"wires":[["d0981f8.1f075e"]]},{"id":"4c789614.0a3618","type":"function","z":"e396cd55.c9966","name":"整形","func":"//msg.result = msg.payload\n//msg.result = msg.payload\nif(msg.payload.items == undefined){\n    msg.entities[msg.i].type = \"\" ;\n}else{\n    msg.entities[msg.i].type = msg.payload.items[0].link ;\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":940,"wires":[["89bb4e39.17aca"]]},{"id":"3039fb6e.2a9854","type":"websocket in","z":"e396cd55.c9966","name":"/search_2","server":"4472fc00.460034","client":"","x":120,"y":260,"wires":[["2937ecce.914464"]]},{"id":"2937ecce.914464","type":"function","z":"e396cd55.c9966","name":"初期設定","func":"msg.payload = {\"query\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["8b0f50f8.d25ad","a0e55cbd.90091"]]},{"id":"c1b754e5.bad5a8","type":"function","z":"e396cd55.c9966","name":"HTTP headers","func":"msg.headers = {\n   'Authorization' : 'OAuth REFDY3BoNG9DN2JKYXZQeUgxYm1RenU5VjpsOGNWZW5xUElCcFZaZWZzdzVFTThXV0NIcnowZlpJR3UwZGwxUzFCNkxORWQxdFVaMA==',\n   'Content-Type' : 'application/x-www-form-urlencoded'\n};\n  \nmsg.payload = 'grant_type=client_credentials';\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1860,"wires":[["44b86254.d8c77c"]]},{"id":"44b86254.d8c77c","type":"http request","z":"e396cd55.c9966","name":"Request Bearer Token","method":"POST","ret":"obj","url":"https://api.twitter.com/1.1/favorites/create.json?id=1009746630201864200","tls":"","x":613.2499694824219,"y":1860.2500610351562,"wires":[["6940f15c.6920b"]]},{"id":"8f3493e2.d7713","type":"inject","z":"e396cd55.c9966","name":"Get Access Token","topic":"Get Access TOken","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":153.38888549804688,"y":1859.9111022949219,"wires":[["c1b754e5.bad5a8"]]},{"id":"6940f15c.6920b","type":"debug","z":"e396cd55.c9966","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":808.3888854980469,"y":1858.9111022949219,"wires":[]},{"id":"512c76a.acf7e88","type":"function","z":"e396cd55.c9966","name":"","func":"msg.payload = {\n    \"value1\": msg.payload.query,\n    \"value2\": msg.payload.post\n}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":1520,"wires":[["49b11cd2.ed0834"]]},{"id":"49b11cd2.ed0834","type":"http request","z":"e396cd55.c9966","name":"","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/tweetbutton/with/key/bfqWC4p-WK36fX_W3b3hMo","tls":"","x":350,"y":1640,"wires":[[]]},{"id":"4b37eb9b.9f83a4","type":"http in","z":"e396cd55.c9966","name":"","url":"/callback","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1440,"wires":[["512c76a.acf7e88"]]},{"id":"f4c50be5.767c78","type":"comment","z":"d0bf95d7.d39128","name":"メインページ","info":"","x":110,"y":40,"wires":[]},{"id":"6ad25e8a.1f19f","type":"http in","z":"d0bf95d7.d39128","name":"メインページ","url":"/main-2","method":"get","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["73ec0c9a.c5a384"]]},{"id":"70ff05b.1a9e8fc","type":"http response","z":"d0bf95d7.d39128","name":"return response","statusCode":"","headers":{},"x":800,"y":100,"wires":[]},{"id":"5d0feed5.93361","type":"function","z":"d0bf95d7.d39128","name":"HTTP headers","func":"msg.headers = {\n   'Authorization' : 'Basic REFDY3BoNG9DN2JKYXZQeUgxYm1RenU5VjpsOGNWZW5xUElCcFZaZWZzdzVFTThXV0NIcnowZlpJR3UwZGwxUzFCNkxORWQxdFVaMA==',\n   'Content-Type' : 'application/x-www-form-urlencoded'\n};\n  \nmsg.payload = 'grant_type=client_credentials';\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1240,"wires":[["2d92bfb6.c569"]]},{"id":"2d92bfb6.c569","type":"http request","z":"d0bf95d7.d39128","name":"Request Bearer Token","method":"POST","ret":"obj","url":"https://api.twitter.com/oauth2/token","tls":"","x":613.2499694824219,"y":1240.2500610351562,"wires":[["5ff05e10.edcce"]]},{"id":"83a2b190.8623a","type":"inject","z":"d0bf95d7.d39128","name":"Get Access Token","topic":"Get Access TOken","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":153.38888549804688,"y":1239.9111022949219,"wires":[["5d0feed5.93361"]]},{"id":"5ff05e10.edcce","type":"debug","z":"d0bf95d7.d39128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":828.3888854980469,"y":1238.9111022949219,"wires":[]},{"id":"fd47eb3b.05df28","type":"comment","z":"d0bf95d7.d39128","name":"アクセストークン取得","info":"","x":139.99996948242188,"y":1190.9999694824219,"wires":[]},{"id":"15af9396.d62c6c","type":"websocket out","z":"d0bf95d7.d39128","name":"","server":"1775d7fd.234938","client":"","x":1160,"y":420,"wires":[]},{"id":"17afc400.30de5c","type":"function","z":"d0bf95d7.d39128","name":"HTTP headers","func":"msg.headers = {\n   'Authorization' : 'OAuth REFDY3BoNG9DN2JKYXZQeUgxYm1RenU5VjpsOGNWZW5xUElCcFZaZWZzdzVFTThXV0NIcnowZlpJR3UwZGwxUzFCNkxORWQxdFVaMA==',\n   'Content-Type' : 'application/x-www-form-urlencoded'\n};\n  \nmsg.payload = 'grant_type=client_credentials';\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1300,"wires":[["16bfe61e.5b8ada"]]},{"id":"16bfe61e.5b8ada","type":"http request","z":"d0bf95d7.d39128","name":"Request Bearer Token","method":"POST","ret":"obj","url":"https://api.twitter.com/1.1/favorites/create.json?id=1009746630201864200","tls":"","x":613.2499694824219,"y":1300.2500610351562,"wires":[["94ec10d4.f1d8c"]]},{"id":"46051d4d.fadf34","type":"inject","z":"d0bf95d7.d39128","name":"Get Access Token","topic":"Get Access TOken","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":153.38888549804688,"y":1299.9111022949219,"wires":[["17afc400.30de5c"]]},{"id":"94ec10d4.f1d8c","type":"debug","z":"d0bf95d7.d39128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":808.3888854980469,"y":1298.9111022949219,"wires":[]},{"id":"73ec0c9a.c5a384","type":"template","z":"d0bf95d7.d39128","name":"Javascript","field":"payload.script4","fieldType":"msg","format":"javascript","syntax":"mustache","template":"\n(function(){\n    // submit時の処理\n    d3.select('#submit2').on('click', function() {\n        var query = d3.select('#query2').property(\"value\");\n        console.log(query)\n        if (!query) {\n            alert('検索する値を入れてください');\n            return;\n        }\n        sendRequest2(query);\n    });\n\n    function sendRequest2(query) {\n        var search_url = '/getUserTweets',\n            post_data = {\n                'query' : query\n            };\n        $('form').remove();\n        $('#select-box').css({'display':'block'});\n\n        // ajaxで/local_searchにリクエストを送る\n        d3.json(search_url)\n            .header(\"Content-Type\", \"application/json\")\n            .post(JSON.stringify(post_data), \n                function(error, data) {\n                    if (error !== null) {\n                        console.log('エラー');\n                    }\n                    console.log(data);\n                });\n\n    };\n\n})();\n","output":"str","x":260,"y":100,"wires":[["539811dd.bcbc8"]]},{"id":"946a5c58.24b96","type":"http in","z":"d0bf95d7.d39128","name":"/getUserTweets","url":"/getUserTweets","method":"post","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["e4a6ab50.97fc98"]]},{"id":"539811dd.bcbc8","type":"template","z":"d0bf95d7.d39128","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"    var socket;\n    var wsUrl = 'wss://' + location.hostname + '/ws/local_serch_3';\n    function connect(){\n    socket = new WebSocket(wsUrl);\n    socket.onmessage = function(e) {\n        var obj = JSON.parse(e.data);\n        console.log(obj);\n      var i ;\n      for(i=0; i < obj.payload.statuses.length; i++){\n        $('#result-3')\n          .prepend('<div class=\"twitter-card mdl-card__supporting-text mdl-grid mdl-cell mdl-shadow--2dp mdl-color--white mdl-cell--12-col\" id=\"tweet-card\" value=\"'+ obj.payload.statuses[i].id_str +'\"></div>')\n        $('#tweet-card')\n          .append('<div class=\"section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone\"><div class=\"section__circle-container__circle mdl-color--primary user-image\" style=\"background-image : url(' + obj.payload.statuses[i].user.profile_image_url_https + ')\"></div></div>')\n          .append('<div class=\"section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone\"><a href=\"https://twitter.com/' \n            + obj.payload.statuses[i].user.screen_name + '/status/'+ obj.payload.statuses[i].id_str + '\" target=\"_blank\">'\n            + JSON.stringify(obj.payload.statuses[i].user.name).replace(/[\"']+/g, '') +'</a>' +'<span>@'\n            +JSON.stringify(obj.payload.statuses[i].user.screen_name).replace(/[\"']+/g, '')+'</span><p>'\n            +obj.payload.statuses[i].text.replace(/(\\n|\\r)/g, \"<br />\").replace(/[\"']+/g, '')+'</p></div>')\n          .append('<div class=\"overlay\"><button class=\"retweet\" value=\"'+ obj.payload.statuses[i].id_str +'\"><i class=\"material-icons\">repeat</i>'+ '<span>'+'</span></button>' +'<button class=\"favorite\" value=\"'+ obj.payload.statuses[i].id_str +'\"><i class=\"material-icons\">favorite_border</i>'+'<span>' +'</span></button></div>')\n      } \n      $('#result-3').append('<button id=\"next\" class=\"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--blue-500\">さらに探す</button>')\n      $('#next').on('click', function() {\n        sendRequest3();\n        $('#next').remove();\n      });\n\n      function sendRequest3() {\n        var search_url = '/getUserTweets2',\n            post_data = {\n                'query' : obj.payload.search_metadata.query,\n                'max_id_str' : obj.payload.search_metadata.max_id_str\n            };\n\n\n        // ajaxで/local_searchにリクエストを送る\n        d3.json(search_url)\n            .header(\"Content-Type\", \"application/json\")\n            .post(JSON.stringify(post_data), \n                function(error, data) {\n                    if (error !== null) {\n                        console.log('エラー');\n                    }\n                    console.log(data);\n                });\n      };\n\n\n      $('.back').on('click', function() {\n        $('#result-3').animate({\n          top: '+=600'},500,\"swing\")\n      });\n\n      $('.go').on('click', function() {\n        $('#result-3').animate({\n          top: '+=-600'},500,\"swing\")\n      });\n\n      $(function (e) {\n          var timerId=0;\n          var timerId2=0;\n          //var query = $(this).find(\"div > a\").attr(\"href\");\n      $('.twitter-card').on({\n        'mouseenter':function(){\n          var gazedata = this\n          timerId = setTimeout(function(){\n            $(gazedata).clone().appendTo(\".result-4\").hide().fadeIn(3000);\n          },3000);\n          timerId2 = setTimeout(function(){\n            $('.result-4 > #tweet-card:first').fadeOut(3000, function(){\n              $(this).remove();\n            })\n            clearTimeout(timerId2);\n          }, 180000);//タイマー開始\n        },\n        'mouseleave':function(){\n          clearTimeout(timerId);\n        }\n      });\n\n\n      });\n\n    }\n    socket.onclose = function(){\n        //WebSocketが切断された時に呼ばれる関数\n            setTimeout(\"open()\",3000);\n        }\n    socket.onerror = function(){\n        //エラーが発生した時に飛ばれる関数\n        \n        socket = null;\n        //3秒後に再接続\n        setTimeout(\"open()\",3000);\n    }\n}\n\n","x":400,"y":100,"wires":[["25103c42.f40f84"]]},{"id":"d639a5b.50c9e58","type":"http in","z":"d0bf95d7.d39128","name":"","url":"/callback_2","method":"post","upload":false,"swaggerDoc":"","x":120,"y":660,"wires":[["abf4e44c.e34c78"]]},{"id":"abf4e44c.e34c78","type":"function","z":"d0bf95d7.d39128","name":"IFTTT用に整理","func":"msg.payload = {\n    \"value1\": msg.payload.query,\n    \"value2\": msg.payload.time\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":660,"wires":[["fa125637.4b03c8"]]},{"id":"fa125637.4b03c8","type":"http request","z":"d0bf95d7.d39128","name":"","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/gaze_tweet/with/key/bfqWC4p-WK36fX_W3b3hMo","tls":"","x":470,"y":660,"wires":[[]]},{"id":"38145f0e.d6cac","type":"function","z":"d0bf95d7.d39128","name":"Twitterアクセストークン","func":"var access_token = 'AAAAAAAAAAAAAAAAAAAAAAXl3AAAAAAAIl%2FDzuLP4y0sBZFnSGhUTBUBgj4%3DooJhzWRX68gCfWRKlhPJHbbrCA6bOLEsl0MhhOHOsbQvj0AevJ'; \n \nmsg.headers = {\n 'Authorization' : 'Bearer ' + access_token,\n 'Content-Type' : 'application/x-www-form-urlencoded',\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":340,"wires":[["4b587a2.7c18e84"]]},{"id":"4b587a2.7c18e84","type":"http request","z":"d0bf95d7.d39128","name":"","method":"GET","ret":"obj","url":"https://api.twitter.com/1.1/search/tweets.json?q={{query}}&count=100&result_type=recent&exclude_replies=false","tls":"","x":730,"y":340,"wires":[["38b33af9.c66046"]]},{"id":"e4a6ab50.97fc98","type":"function","z":"d0bf95d7.d39128","name":"検索クエリにキーワードnを渡す","func":"msg.keyword = msg.payload.query + ' -rt';\nmsg.query = encodeURIComponent(msg.keyword);\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":340,"wires":[["38145f0e.d6cac"]]},{"id":"6c91d30d.bcf80c","type":"http request","z":"d0bf95d7.d39128","name":"","method":"GET","ret":"obj","url":"https://api.twitter.com/1.1/search/tweets.json?max_id={{max_id_str}}&q={{query}}&count=100&result_type=recent&exclude_replies=false","tls":"","x":730,"y":500,"wires":[["f07fff97.3abac"]]},{"id":"7cc8eb87.1103b4","type":"function","z":"d0bf95d7.d39128","name":"検索クエリにキーワードnを渡す","func":"msg.max_id_str =  msg.payload.max_id_str;\nmsg.query = msg.payload.query\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":500,"wires":[["dbab7a79.0102d8"]]},{"id":"dbab7a79.0102d8","type":"function","z":"d0bf95d7.d39128","name":"Twitterアクセストークン","func":"var access_token = 'AAAAAAAAAAAAAAAAAAAAAAXl3AAAAAAAIl%2FDzuLP4y0sBZFnSGhUTBUBgj4%3DooJhzWRX68gCfWRKlhPJHbbrCA6bOLEsl0MhhOHOsbQvj0AevJ'; \n \nmsg.headers = {\n 'Authorization' : 'Bearer ' + access_token,\n 'Content-Type' : 'application/x-www-form-urlencoded',\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":500,"wires":[["6c91d30d.bcf80c"]]},{"id":"38b33af9.c66046","type":"change","z":"d0bf95d7.d39128","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"responseCookies","pt":"msg"},{"t":"delete","p":"req","pt":"msg"},{"t":"delete","p":"res","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":340,"wires":[["15af9396.d62c6c"]]},{"id":"4605fe10.81789","type":"http in","z":"d0bf95d7.d39128","name":"/getUserTweets2","url":"/getUserTweets2","method":"post","upload":false,"swaggerDoc":"","x":120,"y":420,"wires":[["7cc8eb87.1103b4"]]},{"id":"f07fff97.3abac","type":"change","z":"d0bf95d7.d39128","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"responseCookies","pt":"msg"},{"t":"delete","p":"req","pt":"msg"},{"t":"delete","p":"res","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":500,"wires":[["15af9396.d62c6c"]]},{"id":"e2281e33.9dcdd","type":"http response","z":"e396cd55.c9966","name":"return response","statusCode":"","headers":{},"x":1080,"y":1220,"wires":[]},{"id":"52386b5.9485b94","type":"twitter out","z":"e396cd55.c9966","twitter":"7c8f0871.2c8fe8","name":"Tweet","x":700,"y":1580,"wires":[]},{"id":"f5f8376e.88e0b8","type":"http in","z":"e396cd55.c9966","name":"","url":"/callback2","method":"post","upload":false,"swaggerDoc":"","x":520,"y":1440,"wires":[["8795372.59ca7c8"]]},{"id":"8795372.59ca7c8","type":"function","z":"e396cd55.c9966","name":"","func":"msg.payload = msg.payload.query + '\\n@アカウント名';\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1540,"wires":[["52386b5.9485b94","7c238255.255efc"]]},{"id":"c2766522.c46708","type":"http request","z":"e396cd55.c9966","name":"","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/tweetbutton/with/key/bfqWC4p-WK36fX_W3b3hMo","tls":"","x":690,"y":1640,"wires":[[]]},{"id":"7c238255.255efc","type":"function","z":"e396cd55.c9966","name":"","func":"msg.payload = {\n    \"value1\": msg.payload,\n    \"value2\": \"moretweet\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1600,"wires":[["c2766522.c46708"]]},{"id":"3777ae16.99f792","type":"comment","z":"d0bf95d7.d39128","name":"IFTTT接続","info":"","x":100,"y":580,"wires":[]},{"id":"6abb76d5.c9f6c8","type":"http in","z":"e396cd55.c9966","name":"Aboutページ","url":"/about","method":"get","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["46b676e1.63c5c8"]]},{"id":"50e2232.b3f2cdc","type":"http response","z":"e396cd55.c9966","name":"return response","statusCode":"","headers":{},"x":520,"y":140,"wires":[]},{"id":"bda561cc.e5a1","type":"template","z":"e396cd55.c9966","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ja\" class=\"mdl-js\">\n<head>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\" />\n    <title>ツイート感情分析</title>\n    <style type=\"text/css\"> {{{ payload.style }}}</style>\n    <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js\"></script>\n    <script src=\"//d3js.org/d3.v3.min.js\" charset=\"utf-8\"></script>\n    <script src=\"//storage.googleapis.com/code-snippets/rapidapi.min.js\"></script>\n    <script src=\"//code.getmdl.io/1.3.0/material.min.js\"></script>\n    <script type=\"text/javascript\">{{{ payload.script }}}</script>\n</head>\n<body onload=\"connect()\">\n\t<div class=\"mdl-layout mdl-js-layout mdl-layout--fixed-header\">\n\t\t<div class=\"bar mdl-color--blue-grey-900\">\n\t        <div class=\"bar-contents mdl-layout__header-row\">\n\t\t\t\t<button id=\"demo-menu-lower-left\"\n\t\t\t\t        class=\"mdl-button mdl-js-button mdl-button--icon\">\n\t\t\t\t  <i class=\"material-icons\">more_vert</i>\n\t\t\t\t</button>\n\t          <span class=\"mdl-layout-title title\">Twitter × 感情分析</span>\n\t        </div>\n      \t</div><!-- /header -->\n\n\t\t<ul class=\"mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect\"\n\t\t    for=\"demo-menu-lower-left\">\n\t\t  <li class=\"mdl-menu__item\"><a href=\"https://goen-visualize.mybluemix.net/main\">つぶやく</a></li>\n\t\t  <li class=\"mdl-menu__item mdl-menu__item--full-bleed-divider\"><a href=\"https://goen-visualize.mybluemix.net/about\">使い方</a></li>\n\t\t  <li class=\"mdl-menu__item\"><a href=\"https://goen-visualize.mybluemix.net/about\">アンケート</a></li>\n\t\t  \n\t\t</ul>\n      \t<main class=\"mdl-layout__content mdl-color--blue-grey-900\">\n\t\t\t<img src=\"https://pbs.twimg.com/media/DkeXk_fUUAAd8va.jpg\" style=\"width:100%;\">\n\t  \t</main>\n\t  <!--<script src=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\" integrity=\"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa\" crossorigin=\"anonymous\"></script>-->\n\t  <script type=\"text/javascript\">{{{ payload.script2 }}}</script>\n\t  <!--<script type=\"text/javascript\">{{{ payload.script3 }}}</script>\n\t  <script type=\"text/javascript\">{{{ payload.script4 }}}</script>-->\n\t<link rel=\"stylesheet\" href=\"//fonts.googleapis.com/icon?family=Material+Icons\">\n    <link rel=\"stylesheet\" href=\"//code.getmdl.io/1.3.0/material.indigo-pink.min.css\">\n</body>\n</html>","x":370,"y":140,"wires":[["50e2232.b3f2cdc"]]},{"id":"46b676e1.63c5c8","type":"template","z":"e396cd55.c9966","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"plain","template":"body{height:100%;background: #EFEFEF;}\n\nul.keywords-text li{background-color: #fff;\n    width: 100%;\n    padding: 10px;\n    margin: 10px 0px;}\nsvg{\n    width:100%;\n}\nli{\n    list-style: none;\n    display: block;\n    float: left;\n    margin: 0 100px 0px 0;\n}\nform{\n  width: 100%;\n}\nbutton{\n  background: none;\n  border: none;\n}\n.retweet:hover,.retweet:active{\n    color: #4caf50;\n}\n.favorite:hover,.favorite:active{\n    color: #f9407f;\n}\n.bar{\n    box-sizing: border-box;\n    background: #3F51B5;\n    color: white;\n    width: 100%;\n    padding: 16px;\n}\n.bar-contents{\n  padding: 0!important;\n}\n.contents{\n    clear:both;\n}\n#chart-container{\n\n}\n#retry-button{\n    margin: 10% auto;\n    display: block;\n    background: #1DA1F2;\n}\n#retry-button a{\n    color: #fff;\n    text-decoration: none;\n}\n#submit,#submit2{\n    background: #1DA1F2;\n    vertical-align: bottom;\n    border-radius: 100px;\n    float: right;\n    margin-top: 10px;\n}\n#submit2{\n  margin: 0 auto;\n}\n#result, #result-2 {\n  width:100%;\n  display:none;\n}\n.title{\n  margin: 0 auto;\n  display: block;\n}\n.tweet-result{\n  font-size: 20px;\n  line-height: 2em;\n  margin: 20px 0;\n}\n.last-result{\n  margin: 30px 0 0;\n    color: #2196f3;\n}\n.twitter-card{\n  cursor: pointer;\n}\n.twitter-card:hover{\n  background: #e6ecf0!important;\n}\n.twitter-card a{\n    color: #000;\n    font-weight: bold;\n    text-decoration: none;\n    padding: 0 10px 0px 0px;\n}\n.twitter-card p{\n  color: #263238;\n    margin: 20px 0 20px 0;\n    font-size: 14px;\n    line-height: 20px;\n    font-weight: normal;\n}\n.emotion li{margin-right:50px;}\n.emotion-info th {\n  font-size: 1.8rem;\n}\n\n.emotion-info td {\n  font-size: 1.8rem;\n  padding: 0;\n}\n\n.row {\n  padding: 3%;\n}\n\n.chart {\n  padding: 0;\n}\n\n#color-list {\n  padding: 0;\n}\n\n.color {\n  width: 30px;\n  height: 30px;\n}\n\n.color-box {\n  padding: 0 0 0 5%;\n  margin-top: 10px;\n}\n.mdl-spinner{\n  margin: 0 auto;\n  display: block;\n}\n.mdl-layout__container{\n  position: relative!important;\n}\n.mdl-layout__tab-bar{\n  width: calc(100% - 110px)!important;\n}\n.mdl-layout__tab-bar-button {\nbackground: rgba(38, 50, 56, 0.8) !important;\n}\n.mdl-layout__tab-bar-container{\n  height: 120px!important;\n}\n.mdl-layout__tab-bar-button{\n  height: 120px!important;\n}\n.mdl-layout__tab-bar-button .material-icons{\n  line-height: 120px!important;\n}\n#loading-box-1,#loading-box-2{\n  display: none\n}\n\n.user-image{\n    width: 64px;\n    height: 64px;\n    border-radius: 32px;\n    margin: 8px 0;\n    background-position: bottom;\n    background-size: auto 100%;\n    margin: 0 auto;\n}\n\nli{\n    list-style:none;\n    \n}\n\n@media screen and (max-width: 780px) {\n  .shop-info {\n    margin: 0;\n  }\n  .shop-info th, .shop-info td {\n    font-size: 1rem;\n  }\n  .shop-info th {\n    padding-left: 0;\n  }\n  .shop-chart-box {\n    margin: 15px 0;\n  }\n  .btn {\n    margin: 10px;\n  }\n  .tone {\n    padding: 0 0 0 5px;\n  }\n}","x":250,"y":140,"wires":[["bda561cc.e5a1"]]},{"id":"ebe322c8.1de4a","type":"template","z":"d0bf95d7.d39128","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ja\" class=\"mdl-js\">\n<head>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\" />\n    <title>ツイート × アイトラッキング</title>\n    <style type=\"text/css\"> {{{ payload.style }}}</style>\n    <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js\"></script>\n    <script src=\"//d3js.org/d3.v3.min.js\" charset=\"utf-8\"></script>\n    <script src=\"//storage.googleapis.com/code-snippets/rapidapi.min.js\"></script>\n    <script src=\"//code.getmdl.io/1.3.0/material.min.js\"></script>\n    <script type=\"text/javascript\">{{{ payload.script }}}</script>\n</head>\n<body onload=\"connect()\">\n\t<div class=\"mdl-layout mdl-js-layout mdl-layout--fixed-header\">\n\t\t<div class=\"bar mdl-color--blue-grey-900\">\n\t        <div class=\"bar-contents mdl-layout__header-row\">\n\t\t\t\t<button id=\"demo-menu-lower-left\"\n\t\t\t\t        class=\"mdl-button mdl-js-button mdl-button--icon\">\n\t\t\t\t  <i class=\"material-icons\">more_vert</i>\n\t\t\t\t</button>\n\t          <span class=\"mdl-layout-title title\">Twitter</span>\n\t        </div>\n      \t</div><!-- /header -->\n\n\t\t<ul class=\"mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect\"\n\t\t    for=\"demo-menu-lower-left\">\n\t\t  <li class=\"mdl-menu__item\">つぶやく</li>\n\t\t  <li class=\"mdl-menu__item mdl-menu__item--full-bleed-divider\">使い方</li>\n\t\t  <li disabled class=\"mdl-menu__item\">アンケート</li>\n\t\t  <li class=\"mdl-menu__item\">ログイン</li>\n\t\t</ul>\n      \t<main class=\"mdl-layout__content mdl-color--blue-grey-900\">\n\t\t\t<div class=\"mdl-grid\">\n\t\t\t    \n\t\t\t\t\n\t\t\t\t<div id=\"no-data\" class=\"col-xs-12\" style=\"display: none;\">\n\t\t\t\t<p>結果がないです。。。</p>\n\t\t\t\t</div>\n\n\t\t\t\t\n\t\t\t</div>\n\n\t\t\n        <form action=\"#query2\" class=\"mdl-color--white mdl-shadow--2dp mdl-cell--3-col mdl-grid\">\n\t\t  <div class=\"mdl-textfield mdl-js-textfield mdl-textfield--floating-label\">\n\t\t  \t<textarea id=\"query2\" class=\"mdl-textfield__input\" type=\"text\" rows= \"1\"></textarea>\n\t\t    <label class=\"mdl-textfield__label\" for=\"sample3\">@アカウントID or キーワード</label>\n\t\t  </div>\n\t\t  <button id=\"submit2\" class=\"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--blue-500\">\n\t\t\t  タイムラインを取得\n\t\t\t</button>\n\t\t</form>\n\n\t    <div class=\"mdl-grid msContainer\" style=\"height:70vh\">\n\t    \t<div id=\"select-box\" class=\"mdl-cell mdl-cell--2-col\">\n\t    \t\t<button class=\"back\"><i class=\"material-icons\">arrow_upward</i></button>\n\t    \t\t<button class=\"go\"><i class=\"material-icons\">arrow_downward</i></button>\n\t    \t</div>\n\t    <div id=\"result-3\" class=\"mdl-cell mdl-cell--5-col msItemWrapper\">\n\t\t    <div class=\"mdl-spinner mdl-js-spinner is-active\" id=\"loading-box-1\"></div>\n\t\t\t\t\n\t\t      <header id=\"result-3-content\" class=\"r\">\n\t\t      </header>\n\t\t      <main class=\"\" id=\"result_timeline3\">\n\t\t      </main>\n\t    </div>\n\t    <div class=\"mdl-cell mdl-cell--5-col result-4\"></div>\n\t    </div>\n\t  \t</main>\n\t  <!--<script src=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\" integrity=\"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa\" crossorigin=\"anonymous\"></script>-->\n\t  <script type=\"text/javascript\">{{{ payload.script4 }}}</script>\n\t<link rel=\"stylesheet\" href=\"//fonts.googleapis.com/icon?family=Material+Icons\">\n    <link rel=\"stylesheet\" href=\"//code.getmdl.io/1.3.0/material.indigo-pink.min.css\">\n</body>\n</html>","x":650,"y":100,"wires":[["70ff05b.1a9e8fc"]]},{"id":"25103c42.f40f84","type":"template","z":"d0bf95d7.d39128","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"plain","template":"body{height:100%;background: #EFEFEF;}\n\nul.keywords-text li{background-color: #fff;\n    width: 100%;\n    padding: 10px;\n    margin: 10px 0px;}\nsvg{\n    width:100%;\n}\nli{\n    list-style: none;\n    display: block;\n    float: left;\n    margin: 0 100px 0px 0;\n}\nform{\n  width: 100%;\n}\nbutton{\n  background: none;\n  border: none;\n}\nmain{\n    overflow: hidden;\n    height: 400px;\n    padding: 10px;\n}\n.msContainer {\n    /*display: none;*/\n    position:relative;/*for IE7*/\n    /*overflow:hidden;*/\n    /*height:400px;*/;\n    -webkit-border-radius:5px;\n       -moz-border-radius:5px;\n        -ms-border-radius:5px;\n         -o-border-radius:5px;\n            border-radius:5px;\n    }\n\n.msItemWrapper {\n    position:relative;\n    overflow:hidden;\n    /*height:1000%;*/\n    }\n.retweet:hover,.retweet:active{\n    color: #4caf50;\n}\n.favorite:hover,.favorite:active{\n    color: #f9407f;\n}\n.bar{\n    box-sizing: border-box;\n    background: #3F51B5;\n    color: white;\n    width: 100%;\n    padding: 16px;\n}\n.bar-contents{\n  padding: 0!important;\n}\n.contents{\n    clear:both;\n}\n#chart-container{\n\n}\n#retry-button{\n    margin: 10% auto;\n    display: block;\n    background: #1DA1F2;\n}\n#retry-button a{\n    color: #fff;\n    text-decoration: none;\n}\n#select-box{\n    position: fixed;\n    height: 70vh;\n}\n#select-box .back, #select-box .go{\n    background: #fff;\n    padding: 20px;\n    position: absolute;\n}\n#select-box .back{\n    top: 0;\n}\n#select-box .go{  \n    bottom: 0;  \n}\n#submit,#submit2{\n    background: #1DA1F2;\n    vertical-align: bottom;\n    border-radius: 100px;\n    float: right;\n    margin-top: 10px;\n}\n#submit2{\n  margin: 0 auto;\n}\n#result, #result-2 {\n  width:100%;\n  display:none;\n}\n#result-3{\n    /*width: 600px;*/\n    display: block;\n    margin: 0 0 0 90px;\n    position: absolute;\n    overflow: hidden;\n    height: 1000%;\n}\n#result-3 button{\n    margin: 0px auto 0px;\n    display: block;\n    float: left;\n    width: 100px;\n}\n.result-4{\n  position: fixed;\n  right: 90px;\n}\n.title{\n  margin: 0 auto;\n  display: block;\n}\n.tweet-result{\n  font-size: 20px;\n  line-height: 2em;\n  margin: 20px 0;\n}\n.last-result{\n  margin: 30px 0 0;\n    color: #2196f3;\n}\n.twitter-card{\n  cursor: none;\n}\n.twitter-card:hover{\n  background: #e6ecf0!important;\n}\n.twitter-card a{\n    color: #000;\n    font-weight: bold;\n    text-decoration: none;\n    padding: 0 10px 0px 0px;\n}\n.twitter-card p{\n  color: #263238;\n    margin: 20px 0 20px 0;\n    font-size: 14px;\n    line-height: 20px;\n    font-weight: normal;\n}\n.emotion li{margin-right:50px;}\n.emotion-info th {\n  font-size: 1.8rem;\n}\n\n.emotion-info td {\n  font-size: 1.8rem;\n  padding: 0;\n}\n.overlay{\n    float: left;\n    position: relative;\n    left: 16%;\n    bottom: 0;\n}\n.overlat button{\n  float: left;\n}\n.row {\n  padding: 3%;\n}\n\n#tweet-card{\n  position: relative;\n}\n\n.chart {\n  padding: 0;\n}\n\n#color-list {\n  padding: 0;\n}\n\n.color {\n  width: 30px;\n  height: 30px;\n}\n\n.color-box {\n  padding: 0 0 0 5%;\n  margin-top: 10px;\n}\n.mdl-spinner{\n  margin: 0 auto;\n  display: block;\n}\n.mdl-layout__container{\n  position: relative!important;\n}\n.mdl-layout__tab-bar{\n  width: calc(100% - 110px)!important;\n}\n.mdl-layout__tab-bar-button {\nbackground: rgba(38, 50, 56, 0.8) !important;\n}\n.mdl-layout__tab-bar-container{\n  height: 120px!important;\n}\n.mdl-layout__tab-bar-button{\n  height: 120px!important;\n}\n.mdl-layout__tab-bar-button .material-icons{\n  line-height: 120px!important;\n}\n#loading-box-1,#loading-box-2{\n  display: none\n}\n\n.user-image{\n    width: 64px;\n    height: 64px;\n    border-radius: 32px;\n    margin: 8px 0;\n    background-position: bottom;\n    background-size: auto 100%;\n    margin: 0 auto;\n}\n\nli{\n    list-style:none;\n    \n}\n\n@media screen and (max-width: 780px) {\n  .shop-info {\n    margin: 0;\n  }\n  .shop-info th, .shop-info td {\n    font-size: 1rem;\n  }\n  .shop-info th {\n    padding-left: 0;\n  }\n  .shop-chart-box {\n    margin: 15px 0;\n  }\n  .btn {\n    margin: 10px;\n  }\n  .tone {\n    padding: 0 0 0 5px;\n  }\n  #result-3{\n    width: 100%;\n    }\n}","x":530,"y":100,"wires":[["ebe322c8.1de4a"]]},{"id":"6077849e.e5bc6c","type":"inject","z":"7198e606.6a8118","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["6343fa63.7e2034","983ef372.2beb2","215d3778.977508","beb1ff0a.77be2","9728a71b.4a1f78","ac764187.973cc"]]},{"id":"d25422e9.02f22","type":"comment","z":"7198e606.6a8118","name":"GIF","info":"","x":110,"y":420,"wires":[]},{"id":"b0686f78.e379b","type":"http request","z":"7198e606.6a8118","name":"","method":"GET","ret":"obj","url":"https://api.tenor.com/v1/random?q={{query}}&key=C2R7IH53632C&limit=10&anon_id=3a76e56901d740da9e59ffb22b988242","tls":"","x":890,"y":540,"wires":[["4bb7d155.d483c"]]},{"id":"1c6d0a77.d75516","type":"comment","z":"7198e606.6a8118","name":"SPIRE","info":"","x":110,"y":40,"wires":[]},{"id":"1a65e31.fbf921d","type":"switch","z":"7198e606.6a8118","name":"気持ちの名前を定義","property":"payload[0].type","propertyType":"msg","rules":[{"t":"eq","v":"focus","vt":"str"},{"t":"eq","v":"calm","vt":"str"},{"t":"eq","v":"activity","vt":"str"},{"t":"eq","v":"sedentary","vt":"str"},{"t":"eq","v":"tense","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":200,"y":540,"wires":[["b9ad958c.079658"],["7b37ce8.8e5463"],["2a572a6f.c89cd6"],["1c143034.f321e"],["fb715216.c8bea"]]},{"id":"b9ad958c.079658","type":"function","z":"7198e606.6a8118","name":"集中していた","func":"msg.query = \"focus\"\nmsg.feel = \"集中していた\"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":460,"wires":[["a2ec4f0e.4e88"]]},{"id":"7b37ce8.8e5463","type":"function","z":"7198e606.6a8118","name":"リラックスしてた","func":"msg.query = \"relaxed\"\nmsg.feel = \"リラックスしてた\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":500,"wires":[["a2ec4f0e.4e88"]]},{"id":"2a572a6f.c89cd6","type":"function","z":"7198e606.6a8118","name":"運動していた","func":"msg.query = \"walk\"\nmsg.feel = \"運動していた\"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":540,"wires":[[]]},{"id":"1c143034.f321e","type":"function","z":"7198e606.6a8118","name":"ずっと座っていた","func":"msg.query = \"sitting alone\"\nmsg.feel = \"ずっと座っていた\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":580,"wires":[["a2ec4f0e.4e88"]]},{"id":"fb715216.c8bea","type":"function","z":"7198e606.6a8118","name":"ストレスを感じていた","func":"msg.query = \"stressed\"\nmsg.feel = \"ストレスを感じていた\"\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":620,"wires":[["a2ec4f0e.4e88"]]},{"id":"4bb7d155.d483c","type":"template","z":"7198e606.6a8118","name":"気持ちのキーワードを保存","field":"query","fieldType":"global","format":"handlebars","syntax":"mustache","template":"{{query}}","output":"str","x":1120,"y":540,"wires":[["f6f62e2b.3fdd2"]]},{"id":"9caf8492.0d84b8","type":"http request","z":"7198e606.6a8118","name":"","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/research_2_2/with/key/bfqWC4p-WK36fX_W3b3hMo","tls":"","x":370,"y":860,"wires":[["113646d6.23b7f9"]]},{"id":"2ffada40.cdd1b6","type":"comment","z":"7198e606.6a8118","name":"IFTTT","info":"","x":110,"y":740,"wires":[]},{"id":"113646d6.23b7f9","type":"debug","z":"7198e606.6a8118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":860,"wires":[]},{"id":"e2f387fd.f15d68","type":"function","z":"7198e606.6a8118","name":"IFTTTに送信","func":"//msg.payload = JSON.parse(msg.payload.events[0].postback.data)\nmsg.payload = {\n    \"value1\": msg.number,\n    \"value2\": msg.query,\n    \"value3\": msg.token\n}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":860,"wires":[["9caf8492.0d84b8"]]},{"id":"f6f62e2b.3fdd2","type":"function","z":"7198e606.6a8118","name":"ランダムにGIFアニメーションを抽出","func":"var data = msg.payload.results\nvar getData = choose_at_random(data);\nmsg.number = getData.media[0].tinygif.url;\n\nfunction choose_at_random(arrayData) {\n    var arrayIndex = Math.floor(Math.random() * arrayData.length);\n    return arrayData[arrayIndex];\n}\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":620,"wires":[["e2f387fd.f15d68"]]},{"id":"a2ec4f0e.4e88","type":"rbe","z":"7198e606.6a8118","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"query","x":730,"y":540,"wires":[["b0686f78.e379b"]]},{"id":"e894c67b.4d18f8","type":"http request","z":"7198e606.6a8118","name":"","method":"GET","ret":"txt","url":"https://app.spire.io/api/v2/streaks?access_token={{token}}","tls":"","x":750,"y":100,"wires":[["bf4624f4.b83428"]]},{"id":"bf4624f4.b83428","type":"function","z":"7198e606.6a8118","name":"最新データのlength取得","func":"msg.newNumber = JSON.parse(msg.payload).length;\nmsg.payload = JSON.parse(msg.payload)\nmsg.result = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":100,"wires":[["6931c1ea.b0aac"]]},{"id":"6931c1ea.b0aac","type":"rbe","z":"7198e606.6a8118","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"result","x":1190,"y":100,"wires":[["1a65e31.fbf921d"]]},{"id":"215d3778.977508","type":"function","z":"7198e606.6a8118","name":"Aさん","func":"msg.token = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":100,"wires":[["e894c67b.4d18f8"]]},{"id":"7db66d7d.334304","type":"function","z":"7198e606.6a8118","name":"Bさん","func":"msg.token = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":140,"wires":[["a55d608e.6b9cc"]]},{"id":"968ea369.cb9cc","type":"function","z":"7198e606.6a8118","name":"Cさん","func":"msg.token = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":180,"wires":[["4e7fe309.3526dc"]]},{"id":"c404e4b6.e7ba98","type":"function","z":"7198e606.6a8118","name":"Dさん","func":"msg.token = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":220,"wires":[["336d098c.6db8f6"]]},{"id":"308b8a07.fafd76","type":"function","z":"7198e606.6a8118","name":"Eさん","func":"msg.token = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["d2609e2b.3c7b6"]]},{"id":"a55d608e.6b9cc","type":"http request","z":"7198e606.6a8118","name":"","method":"GET","ret":"txt","url":"https://app.spire.io/api/v2/streaks?access_token={{token}}","tls":"","x":750,"y":140,"wires":[["7e265808.43f9a8"]]},{"id":"7e265808.43f9a8","type":"function","z":"7198e606.6a8118","name":"最新データのlength取得","func":"msg.newNumber = JSON.parse(msg.payload).length;\nmsg.payload = JSON.parse(msg.payload)\nmsg.result = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":140,"wires":[["961a6685.6b61d8"]]},{"id":"4e7fe309.3526dc","type":"http request","z":"7198e606.6a8118","name":"","method":"GET","ret":"txt","url":"https://app.spire.io/api/v2/streaks?access_token={{token}}","tls":"","x":750,"y":180,"wires":[["c0192fe1.1c398"]]},{"id":"c0192fe1.1c398","type":"function","z":"7198e606.6a8118","name":"最新データのlength取得","func":"msg.newNumber = JSON.parse(msg.payload).length;\nmsg.payload = JSON.parse(msg.payload)\nmsg.result = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":180,"wires":[["d6f2c714.2f7f08"]]},{"id":"336d098c.6db8f6","type":"http request","z":"7198e606.6a8118","name":"","method":"GET","ret":"txt","url":"https://app.spire.io/api/v2/streaks?access_token={{token}}","tls":"","x":750,"y":220,"wires":[["ab309a9a.534bc8"]]},{"id":"ab309a9a.534bc8","type":"function","z":"7198e606.6a8118","name":"最新データのlength取得","func":"msg.newNumber = JSON.parse(msg.payload).length;\nmsg.payload = JSON.parse(msg.payload)\nmsg.result = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":220,"wires":[["e0000c3c.83217"]]},{"id":"d2609e2b.3c7b6","type":"http request","z":"7198e606.6a8118","name":"","method":"GET","ret":"txt","url":"https://app.spire.io/api/v2/streaks?access_token={{token}}","tls":"","x":750,"y":260,"wires":[["2d81ee26.5284a2"]]},{"id":"2d81ee26.5284a2","type":"function","z":"7198e606.6a8118","name":"最新データのlength取得","func":"msg.newNumber = JSON.parse(msg.payload).length;\nmsg.payload = JSON.parse(msg.payload)\nmsg.result = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":260,"wires":[["94ef08f1.657798"]]},{"id":"961a6685.6b61d8","type":"rbe","z":"7198e606.6a8118","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"result","x":1190,"y":140,"wires":[["1a65e31.fbf921d"]]},{"id":"d6f2c714.2f7f08","type":"rbe","z":"7198e606.6a8118","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"result","x":1190,"y":180,"wires":[["1a65e31.fbf921d"]]},{"id":"e0000c3c.83217","type":"rbe","z":"7198e606.6a8118","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"result","x":1190,"y":220,"wires":[["1a65e31.fbf921d"]]},{"id":"94ef08f1.657798","type":"rbe","z":"7198e606.6a8118","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"result","x":1190,"y":260,"wires":[["1a65e31.fbf921d"]]},{"id":"6343fa63.7e2034","type":"delay","z":"7198e606.6a8118","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":140,"wires":[["7db66d7d.334304"]]},{"id":"983ef372.2beb2","type":"delay","z":"7198e606.6a8118","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":180,"wires":[["968ea369.cb9cc"]]},{"id":"beb1ff0a.77be2","type":"delay","z":"7198e606.6a8118","name":"","pauseType":"delay","timeout":"45","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":220,"wires":[["c404e4b6.e7ba98"]]},{"id":"9728a71b.4a1f78","type":"delay","z":"7198e606.6a8118","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":260,"wires":[["308b8a07.fafd76"]]},{"id":"5e011b16.e99d84","type":"function","z":"7198e606.6a8118","name":"Fさん","func":"msg.token = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":300,"wires":[["9bb98dd1.7699c"]]},{"id":"9bb98dd1.7699c","type":"http request","z":"7198e606.6a8118","name":"","method":"GET","ret":"txt","url":"https://app.spire.io/api/v2/streaks?access_token={{token}}","tls":"","x":750,"y":300,"wires":[["bf98dd9.415742"]]},{"id":"bf98dd9.415742","type":"function","z":"7198e606.6a8118","name":"最新データのlength取得","func":"msg.newNumber = JSON.parse(msg.payload).length;\nmsg.payload = JSON.parse(msg.payload)\nmsg.result = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":300,"wires":[["32163d6d.d759c2"]]},{"id":"32163d6d.d759c2","type":"rbe","z":"7198e606.6a8118","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"result","x":1190,"y":300,"wires":[[]]},{"id":"ac764187.973cc","type":"delay","z":"7198e606.6a8118","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":300,"wires":[["5e011b16.e99d84"]]}]